<%= form_for([current_user, @post, @comment]) do |form| %>
  <div class="field">
    <%= form.text_area :description, id: :comment_description %>
  </div> 
  
  <div class="actions float-left">
    <%= form.submit %>
  </div>

<% end %>


    	